/**
 * HEADER.CSS
 * Consistent styles for using in the working week Barcelona 25/30 June 2012
 * ------------------------------------------------------*/

[role="toolbar"] {
	background: #3e3e44 url(images/ui/dark/header.png) repeat-x left bottom;
	/*background-image: -moz-linear-gradient(top, #3e3e46, #29292f);*/
	/*box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 2px 4px -4px rgba(0, 0, 0, 0.99);*/
}
	/* Negative action (back, cancel, etc) */
	[role="toolbar"] .negative {
		/*background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
		background: #26272c url(images/ui/dark/negative.png) repeat-x left top;
	}
	[role="toolbar"] + hgroup {
		/*background: -moz-linear-gradient(top, #7f7f7f, #666);*/
		background: #7f7f7f url(images/ui/dark/subheader.png) repeat-x left bottom;
		padding: 0.4rem 0;	
	}
		[role="toolbar"] + hgroup h2, [role="toolbar"] + hgroup h3 {
			font-family: System Sans Light, Sans-serif;
			font-weight: normal;
			color: rgba(255, 255, 255, 0.6);
			margin: 0 0 0 3rem;
		}
		[role="toolbar"] + hgroup h2 { font-size: 1.8rem; }
		[role="toolbar"] + hgroup h3 { font-size: 1.4rem; }
	








